* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #262626;
}

/* General */
body {
    background: #F2F2F2;
}
span.red {
    color: #F71524;
}

/* Page Layout */
div.page {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #bbbbbb;
    max-width: 1200px;
}

/* Navigation Bar */
div.navbar {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
ul.navlinks {
    display: inline-flex;
}
ul.navlinks li {
    list-style: none;
}
ul.navlinks li a {
    text-decoration: none;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 300;
    padding: 16px;
}

/* Blogpost */
div.container {
    position: relative;
    max-width: 600px;
    padding: 30px;
    padding-bottom: 110px;
    margin: 0 auto;
}
div.container-title {
    text-align: center;
    font-size: 2.7em;
    font-weight: 900;
    padding-bottom: 60px;
}
div.container-text {
    font-size: 1.05em;
    line-height: 170%;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: justify;
}
div.container-image {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
div.container-image img {
    width: 100%;
    height: 100%;
}


/* Contact */
div.contact {
    text-align: center;
    font-size: 1.05em;
    padding-top: 30px;
    padding-bottom: 100px;
    /* background: lightsalmon; */
}
div.contact-headline {
    margin-bottom: 20px;
    font-size: 1.05em;
}
div.contact-description {
    margin-bottom: 20px;
    font-size: 1.05em;
}